

{% load staticfiles %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="application/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="application/javascript"  src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 15px;
            border: 1px solid black;
        }

        tr#tr01 {
            background-color: #98AFC7;
            color: white;

        }

    </style>
</head>
<body>
    <img src="http://www.wavecl.com/v05_5/wp-content/uploads/2015/08/logo_wave.png" style="height:100px;width:100px">
    {% if All_Data %}
        <table id="example" style="width:100%">
            <caption>Total Data</caption>
            <thead>
                <tr id = "tr01">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for each_data in All_Data %}
                    <tr>
                        <td>{{ each_data.Name }}</td>
                        <td>{{ each_data.Email }}</td>
                        <td>{{ each_data.Address }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </tfoot>
        </table>
    {% else %}
        <h2>Not exists</h2>
    {% endif %}

    <script type="text/javascript">
            $(document).ready(function() {
            $('#example').DataTable({

            });
        } );
    </script>
</body>